<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SLisciteiro</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>    
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <description>Configuração do header e footer do template</description>
      <url-pattern>/view/*</url-pattern>
      <include-prelude>/WEB-INF/template/header.jspf</include-prelude>
      <include-prelude>/WEB-INF/template/menu.jspf</include-prelude>
      <include-coda>/WEB-INF/template/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  
  <!-- Servlet Login -->
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>
  		controller.Login
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <!-- Servlet Logout -->
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>
  		controller.Logout
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
   <!-- Servlet Licitacao -->
  <servlet>
    <servlet-name>ServletLicitacao</servlet-name>
    <servlet-class>
  		controller.CadastrarLicitacao
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLicitacao</servlet-name>
    <url-pattern>/view/supervisor/cadastrar_liscitacao</url-pattern>
  </servlet-mapping>
  
</web-app>