<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SLisciteiro</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <description>Configuração do header e footer do template</description>
      <url-pattern>/view/*</url-pattern>
      <include-prelude>/WEB-INF/template/header.jspf</include-prelude>
      <include-prelude>/WEB-INF/template/menu.jspf</include-prelude>
      <include-coda>/WEB-INF/template/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>
  		controller.Login
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-class>
  		controller.Logout
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletLicitacao</servlet-name>
    <servlet-class>
  		controller.CadastrarLicitacao
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLicitacao</servlet-name>
    <url-pattern>/view/supervisor/cadastrar_liscitacao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCadCategoria</servlet-name>
    <servlet-class>
  		controller.CadastrarCategoria
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadCategoria</servlet-name>
    <url-pattern>/view/supervisor/cadastrar_categoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSetProdSession</servlet-name>
    <servlet-class>
  		controller.SetSessionProdutos
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSetProdSession</servlet-name>
    <url-pattern>/view/supervisor/set_session_produtos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCadProduto</servlet-name>
    <servlet-class>
  		controller.CadastrarProduto
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadProduto</servlet-name>
    <url-pattern>/view/supervisor/cadastrar_produto</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCarregarProdCat</servlet-name>
    <servlet-class>
  		controller.CarregarProdutosCategoria
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCarregarProdCat</servlet-name>
    <url-pattern>/view/supervisor/carregarProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletCadastrarOferta</servlet-name>
    <servlet-class>
  		controller.CadastrarOferta
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastrarOferta</servlet-name>
    <url-pattern>/view/fornecedor/cadastrarOferta</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DetalheLicitacao</servlet-name>
  	<servlet-class>
  		controller.DetalheLicitacao
  	</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalheLicitacao</servlet-name>
    <url-pattern>/view/fornecedor/detalheLicitacao</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>AutenticationFilter</filter-name>
    <filter-class>filter.AutenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutenticationFilter</filter-name>
    <url-pattern>/view/*</url-pattern>
    <servlet-name>ServletCadCategoria</servlet-name>
    <servlet-name>ServletLicitacao</servlet-name>
    <servlet-name>ServletCadProduto</servlet-name>
    <servlet-name>ServletCarregarProdCat</servlet-name>
    <servlet-name>ServletLogout</servlet-name>
    <servlet-name>ServletSetProdSession</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/view/login.jsp</url-pattern>
    <servlet-name>ServletLogin</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>FuncionarioFilter</filter-name>
    <filter-class>filter.FuncionarioFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FuncionarioFilter</filter-name>
    <url-pattern>/view/gerenteCompras</url-pattern>
    <url-pattern>/view/gerenteSetor</url-pattern>
    <url-pattern>/view/supervisor</url-pattern>
    <servlet-name>ServletCadCategoria</servlet-name>
    <servlet-name>ServletLicitacao</servlet-name>
    <servlet-name>ServletCadProduto</servlet-name>
    <servlet-name>ServletCarregarProdCat</servlet-name>
    <servlet-name>ServletSetProdSession</servlet-name>
  </filter-mapping>
</web-app>